<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tech Company Name</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <h1>Random tech company name...</h1>
    <script src="js/bootstrap.min.js"></script>

    <th:block th:each="companyName : ${companyNames}">
        <p th:text="${companyName}"></p>
    </th:block>

    <p>(☞ﾟ∀ﾟ)☞</p>
</body>
</html>